medium = "only screen and (min-width: 32em)"
large = "only screen and (min-width: 50em)"
xlarge = "only screen and (min-width: 62em)"

background-grey = #efefef
text-grey = #666
link-grey = #555
highlight-grey = #999
light-grey = #ccc
