medium = "only screen and (min-width: 32em)"
large = "only screen and (min-width: 50em)"
xlarge = "only screen and (min-width: 62em)"

brand-primary = #3a2f73
brand-light-grey = #efefef
brand-medium-grey = #ddd
