/**
 * Inspired by the Yahoo Grid Builder
 * http://yui.github.io/gridbuilder/
 */

grid-unit-width(size, cols)
  return (size / cols) * 100

grid-unit()
  display inline-block
  *display inline
  visibility visible

grid-unit-hidden()
  display none
  visibility hidden

grid-unit-1()
  display block
  visibility visible
  width 100%

grid-unit-single(prefix, size, cols, previous-widths, unit-names, add-offset)
  new = true
  new-width = grid-unit-width(size, cols)

  for prev in previous-widths
    if new-width == prev
      new = false

  if new == true
    push(previous-widths, new-width)
    push(unit-names, join('-', '.unit', prefix, size, cols))

    .unit-{prefix}-{size}-{cols}
      width (new-width)%

    if add-offset == true
      .unit-offset-{prefix}-{size}-{cols}
        margin-left (new-width)%

grid-units(prefix, cols = 4, add-offsets = false)
  previous-widths = 100
  unit-names = ()

  if cols < 3
    cols = 3

  .unit-{prefix}-hidden
    grid-unit-hidden()

  .unit-{prefix}-1
    grid-unit-1()

  if add-offsets == true
    .unit-offset-{prefix}--0
      margin-left 0

  for size in 2 .. cols
    for sub-size in 1 .. size
      grid-unit-single(prefix, sub-size, size, previous-widths, unit-names, add-offsets)

  {unquote(join(',', unit-names))}
    grid-unit()

.grid
  margin 0
  padding 0
  letter-spacing -0.31em
  *letter-spacing normal
  *word-spacing -0.43em
  text-rendering optimizespeed
  display -webkit-flex
  -webkit-flex-flow row wrap
  display -ms-flexbox
  -ms-flex-flow row wrap

.grid-bottom
  -webkit-align-items flex-end
  -ms-align-items flex-end

.grid-middle
  -webkit-align-items center
  -ms-align-items center

.opera-only :-o-prefocus
.grid
  word-spacing -0.43em

.unit
  grid-unit()
  zoom 1
  letter-spacing normal
  text-rendering auto
  vertical-align top
  word-spacing normal

.grid-bottom .unit
  vertical-align bottom

.grid-middle .unit
  vertical-align middle
