.icon
  display inline-block

  background transparent none no-repeat center center
  background-size contain

  vertical-align middle

.i--16
  height 16px
  width 16px

.i--24
  height 24px
  width 24px

.i--32
  height 32px
  width 32px

.icon-link
.icon-link:link
.icon-link:visited
  display block

  border 0

  color link-grey
  text-decoration none

.icon__text
  vertical-align middle

.i--gutter
  margin-right 0.1em

.i-twitter
  background-image embedurl("../img/i-twitter.svg")

.i-canvas
  background-image embedurl("../img/i-canvas.svg")

.i-youtube
  background-image embedurl("../img/i-youtube.svg")

.i-linkedin
  background-image embedurl("../img/i-linkedin.svg")

.i-facebook
  background-image embedurl("../img/i-facebook.svg")
