.icon
  display inline-block

  background transparent none no-repeat center center
  background-size contain

  vertical-align middle

.i--16
  height 16px
  width 16px

.i--24
  height 24px
  width 24px

.i--32
  height 32px
  width 32px

.icon-link
.icon-link:link
.icon-link:visited
  display block

  border 0

  color #66f
  text-decoration none

.icon__text
  vertical-align middle

.i--gutter
  margin-right 0.1em

.i--goodreads
  background-image embedurl("../img/icons/i-goodreads.svg")

.i--facebook
  background-image embedurl("../img/icons/i-facebook.svg")

.i--twitter
  background-image embedurl("../img/icons/i-twitter.svg")

.i--googleplus
  background-image embedurl("../img/icons/i-googleplus.svg")

.i--pinterest
  background-image embedurl("../img/icons/i-pinterest.svg")

.i--github
  background-image embedurl("../img/icons/i-github.svg")

.i--amazon
  background-image embedurl("../img/icons/i-amazon.svg")

.i--indigo
  background-image embedurl("../img/icons/i-indigo.svg")

.i--gumroad
  background-image embedurl("../img/icons/i-gumroad.png")

.i--thomasjbradley
  background-image embedurl("../img/icons/i-thomasjbradley.svg")

.i--email
  background-image embedurl("../img/icons/i-email.svg")

.i--download
  background-image embedurl("../img/icons/i-download.svg")

.i--goodreads-subtle
  background-image embedurl("../img/icons/i-goodreads-subtle.svg")

.i--facebook-subtle
  background-image embedurl("../img/icons/i-facebook-subtle.svg")

.i--twitter-subtle
  background-image embedurl("../img/icons/i-twitter-subtle.svg")

.i--googleplus-subtle
  background-image embedurl("../img/icons/i-googleplus-subtle.svg")

.i--github-subtle
  background-image embedurl("../img/icons/i-github-subtle.svg")
