.list-group
  display block
  padding 0

  list-style-type none

.list-group__item
  display block

.list-group__item-inline
  display inline-block

.list-group__item::before
.list-group__item-inline::before
  content none
