html
  margin 0
  overflow-x hidden
  padding 0

  background-color background-grey

  color text-grey
  font normal 100%/1.5 "Open Sans",sans-serif

  @media medium
    font-size 105%

  @media large
    font-size 110%

  @media only screen and (min-width: 80em)
    font-size 120%

  @media only screen and (min-width: 100em)
    font-size 130%

body
  margin 0 auto
  max-width 50em
  overflow-x hidden
  padding 0

a
a:link
a:visited
  border-bottom 0.1em solid rgba(link-grey,0.5)
  transition all 150ms linear

  color link-grey
  text-decoration none

a:hover
a:focus
a:active
  border-color #000
  outline 0

  color #000

a:focus
  outline 2px solid #000

.link-no-mark
.link-no-mark:link
.link-no-mark:visited
  border 0

ul
  padding 0

  list-style-type none

ul li
  position relative

ul li::before
  content "•"
  left -0.45em
  position absolute

  opacity 0.5

[title="and"]
  font-family Baskerville,Palatino,"Book Antiqua",serif
  font-style italic
  font-weight normal

.slant
  margin 0 auto 1.5rem
  max-width 54em

  border 0
  border-top 1px solid light-grey
  transform rotate(2deg)

.slant--reverse
  transform rotate(-2deg)

.logo
  max-width 200px

.intro
  @media medium
    margin-left: 6%

.section-desc
  @media medium
    margin-right 10%

.footer
  // margin-top 1

.copyright
  text-align center

  @media large
    text-align left

.social
  text-align center

  @media large
    text-align right
